@page "/"
@model Otthonbazar.Pages.Advertisements.IndexModel

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <div class="row">
        <section class="col-lg-4">
            <h2>Keresés</h2>
            <form class="form-horizontal">
                <div class="form-group row">
                    <label class="col-xs-12">Város</label>
                    <div class="col-xs-12">
                        <input asp-for="Search.CityName" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-12">Ár</label>
                    <div class="col-xs-5">
                        <div class="input-group">
                            <input asp-for="Search.PriceMin" class="form-control" />
                            <span class="input-group-addon">M Ft</span>
                        </div>
                    </div>
                    <span class="col-xs-2 text-center">&ndash;</span>
                    <div class="col-xs-5">
                        <div class="input-group">
                            <input asp-for="Search.PriceMax" class="form-control" />
                            <span class="input-group-addon">M Ft</span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-12">Alapterület</label>
                    <div class="col-xs-5">
                        <div class="input-group">
                            <input asp-for="Search.SizeMin" class="form-control" />
                            <span class="input-group-addon">m<sup>2</sup></span>
                        </div>
                    </div>
                    <span class="col-xs-2 text-center">&ndash;</span>
                    <div class="col-xs-5">
                        <div class="input-group">
                            <input asp-for="Search.SizeMax" class="form-control" />
                            <span class="input-group-addon">m<sup>2</sup></span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-12">Szobák</label>
                    <div class="col-xs-5">
                        <div class="input-group">
                            <input asp-for="Search.RoomMin" class="form-control" />
                            <span class="input-group-addon">szoba</span>
                        </div>
                    </div>
                    <span class="col-xs-2 text-center">&ndash;</span>
                    <div class="col-xs-5">
                        <div class="input-group">
                            <input asp-for="Search.RoomMax" class="form-control" />
                            <span class="input-group-addon">szoba</span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-3">
                        <input type="submit" value="Keresés" class="btn btn-default" />
                    </div>
                </div>
            </form>
        </section>
        <section class="col-lg-8">
            <h2>Hirdetések</h2>
            @foreach (var item in Model.Advertisement)
            {
                var imgSrc = string.IsNullOrWhiteSpace(item.ImageUrl) ? "https://via.placeholder.com/340x255" : Url.Content("images/" + item.ImageUrl);
                <article class="col-lg-6" style="width:340px">
                    <a asp-page="Details" asp-route-id="@item.Id">
                        <img class="img-responsive" src="@imgSrc" />
                    </a>
                    <h4>
                        <span>@item.Price MFt</span>
                        <span class="pull-right">@item.Size m<sup>2</sup></span>
                    </h4>
                    <p>
                        <span>@item.City.Zip @item.City.Name</span>
                        <span class="pull-right">@item.Address</span>
                    </p>
                    <p>
                        @Html.DisplayFor(model => model.Advertisement.Single(e => e.Id == item.Id).AdvertisementType)
                    </p>
                    <dl style="display:inline-flex">
                        <dt style="margin-right:4px">Szobák</dt>
                        <dd>@item.Room + @item.HalfRoom</dd>
                    </dl>
                </article>
            }
        </section>
    </div>
</div>
